[submodule "wokwi-libs/avr8js"]
	path = wokwi-libs/avr8js
	url = https://github.com/wokwi/avr8js.git

[submodule "wokwi-libs/rp2040js"]
	path = wokwi-libs/rp2040js
	url = https://github.com/wokwi/rp2040js.git

[submodule "wokwi-libs/wokwi-elements"]
	path = wokwi-libs/wokwi-elements
	url = https://github.com/wokwi/wokwi-elements.git

[submodule "wokwi-libs/wokwi-features"]
	path = wokwi-libs/wokwi-features
	url = https://github.com/wokwi/wokwi-features.git
